<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>img</string>
		<string>pages</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>start.md</string>
		</array>
		<array>
			<string>report20150712.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Cloud</string>
</dict>
</plist>
